p {
  letter-spacing: -1px; }

* {
  margin: auto 0px;
  color: #1a1629; }

body {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  background-color: #0b0a0e; }

img {
  object-fit: contain;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  margin-bottom: 10px;
  max-width: 400px; }

a {
  text-decoration: none; }

.container {
  width: 1200px;
  max-width: 1000px;
  margin: auto;
  display: flex; }
  .container header {
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #efefef; }
  .container .banner .banner-heading {
    padding-left: 5px;
    padding-top: 3px;
    background-color: #1a1629;
    width: auto; }
    .container .banner .banner-heading p {
      font-family: "Kumar One", cursive;
      font-size: 1em;
      color: #efefef;
      letter-spacing: 1.5px; }
  .container .banner ul {
    list-style-type: none;
    padding: 0px; }
    .container .banner ul .banner-link {
      width: auto;
      padding: 2px 0px 2px 0px; }
      .container .banner ul .banner-link p {
        margin-left: 5px;
        letter-spacing: 1px;
        color: inherit; }
    .container .banner ul .banner-link:hover {
      background-color: #4f6391;
      color: #efefef; }
  .container h1 {
    font-size: 1.6em;
    font-family: "Kumar One", cursive;
    letter-spacing: 2px;
    margin-left: 5px;
    margin-right: 10px;
    padding-top: 10px; }

#e404 {
  text-align: center; }

iframe {
  margin: 10px 0px 0px 0px; }

main {
  flex: 1;
  background-color: #343650;
  flex: 1;
  margin: auto;
  margin-top: 0px; }
  main .news-image-container {
    align-items: flex-start;
    display: flex; }
  main .main-container {
    margin: 25px; }
  main .news-heading {
    flex: 1;
    background-color: #4f6391;
    padding-top: 3px;
    margin: 20px; }
    main .news-heading h2 {
      color: #efefef;
      font-family: "Kumar One", cursive;
      letter-spacing: 2px;
      margin-left: 20px;
      font-size: 0.8em;
      font-weight: 400; }
  main .news-heading:hover {
    background-color: #7b8db7;
    margin: 20px 15px 20px 15px; }
  main .news-content b {
    color: #4f6391; }
  main .news-content em {
    letter-spacing: -1px;
    display: block;
    text-align: center;
    color: #4f6391; }
  main .news-content .news-date {
    color: #efefef;
    font-weight: 1000;
    margin: -10px 40px 20px 40px; }
  main .news-content p {
    color: #efefef;
    margin: 15px 40px 10px 40px; }
  main .news-content a {
    color: #4f6391;
    font-weight: bold; }
  main .news-content a:hover {
    text-decoration: underline; }
  main .content-container p {
    color: #efefef;
    margin: 20px;
    letter-spacing: -1px; }
  main .content-container a {
    color: #4f6391;
    font-weight: bold; }
  main .content-container a:hover {
    text-decoration: underline; }
  main .content-container h2 {
    text-align: center;
    color: #efefef;
    font-family: "Kumar One", cursive;
    font-size: 3em;
    margin-left: 20px;
    line-height: 0px;
    margin-top: 50px; }
  main .content-heading {
    flex: 1;
    background-color: #1a1629;
    padding-top: 5px;
    margin-top: 20px;
    margin-bottom: 20px; }
    main .content-heading h2 {
      color: #efefef;
      font-family: "Kumar One", cursive;
      letter-spacing: 2px;
      margin-left: 20px;
      font-size: 1em;
      font-weight: 400; }

footer {
  background-color: #1a1629;
  padding: 10px 0px 10px 10px; }
  footer p {
    text-align: center;
    color: #efefef;
    letter-spacing: 1px; }

@media only screen and (max-width: 1200px) {
  .container {
    width: 100%; } }

/*# sourceMappingURL=theme.css.map */
