
$font-color: #1a1629;
$body-color: #0b0a0e;
$bg-color: #343650;
$hl-color: #4f6391;
$hl2-color: #7b8db7;
$font-main: 'Share Tech Mono', monospace;
$font-head: 'Kumar One', cursive;

p{      letter-spacing: -1px;}
*{margin: auto 0px;color: $font-color;}

body{
 font-family: $font-main;
 font-weight: 400;
 background-color: $body-color;
}
// LIST
img{
    object-fit: contain;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top:40px;
    margin-bottom:10px;
    max-width: 400px;
  }
// LINKS
a{text-decoration: none;}
////// BANNER
.container{
  width:1200px;
  max-width:1000px;
  //height:auto;
  margin:auto;
  display:flex;
  header{
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    //height:auto;
    background-color: #efefef;
  }
  .banner{

    .banner-heading{
      padding-left: 5px;
      padding-top: 3px;
      //line-height: 0px;
      background-color: $font-color;
      width: auto;
      p{
        font-family: $font-head;
        font-size: 1em;
        color: #efefef;
        letter-spacing: 1.5px;
      }// end of p
    }// end of banner heading
    ul{
      list-style-type: none;
      padding:0px;
      .banner-link{
        width:auto;
        padding:2px 0px 2px 0px;
        p{
          margin-left:5px;
          letter-spacing: 1px;
          color:inherit;
        }
      }
      .banner-link:hover{
        background-color: $hl-color;
        color:#efefef;
      }
    } // END UL
  }// END BANNER
  h1{
    font-size:1.6em;
    font-family: $font-head;
    letter-spacing: 2px;
    margin-left:5px;
    margin-right:10px;
    padding-top:10px;
  } // END H1
}// END OF CONTAINER
//CONTENT START OF MAIN
#e404{text-align: center;}
iframe{
  margin:10px 0px 0px 0px;
}
main{
  flex:1;

  .news-image-container{
    align-items:flex-start;
    display:flex;
  }

  .main-container{
    margin:25px;
  }
  // NEWS HEADING
  .news-heading{
    flex:1;
    background-color: $hl-color;
    padding-top: 3px;
    margin:20px;
    h2{
      color: #efefef;
      font-family: $font-head;
      letter-spacing: 2px;
      margin-left: 20px;
      font-size: 0.8em;
      font-weight: 400;
    }
  } // END OF NEWS HEADING
  .news-heading:hover{
    background-color: $hl2-color;
    margin: 20px 15px 20px 15px;
  }
  .news-content{ // NEWS CONTAINER
    em{
      display:block;
      text-align: center;
      color: $hl-color; 
    }
    .news-date{
      color: #efefef;
      font-weight: 1000;
      margin:-10px 40px 20px 40px;
    }
    p{
      color:#efefef;
      margin:15px 40px 10px 40px;
    }
    a{color: $hl-color;font-weight: bold;}
    a:hover{text-decoration: underline;}
  } // END OF NEWS CONTAINER

  .content-container{
    p{
      color:#efefef;
      margin:20px;
      letter-spacing: -1px;
    }
    a{color: $hl-color;font-weight: bold;}
    a:hover{text-decoration: underline;}
    h2{
      text-align: center;
      color:#efefef;
      font-family: $font-head;
      font-size:3em;
      margin-left:20px;
      line-height: 0px;
      margin-top:50px;
    }
  }
  .content-heading{
    flex:1;
    background-color: $font-color;
    padding-top: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    h2{
      color: #efefef;
      font-family: $font-head;
      letter-spacing: 2px;
      margin-left: 20px;
      font-size: 1em;
      font-weight: 400;
    }
  }
  background-color: $bg-color;
  flex:1;
  margin: auto;
  margin-top: 0px;
  //min-height:calc(100vh - 30px);
}// END OF CONTENT AND MAIN
footer{
  background-color: $font-color;
  padding: 10px 0px 10px 10px;
  p{
    text-align: center;
    color: #efefef;
    letter-spacing: 1px;
  }
}

@media only screen and (max-width: 1200px) {
  .container{width:100%;}

}
