<!DOCTYPE html>
<html>
  <head>
    <title>Alain L. N.</title>
    <link rel="shortcut icon" href="/addiconlater.ico"> <!-- Add icon here -->
    <link rel="stylesheet" href="{{site.url}}/css/theme.css">
    <link href="https://fonts.googleapis.com/css?family=Kumar+One|Share+Tech+Mono" rel="stylesheet">
  </head>
  <!-- BEGIN main part -->
  <body>
      <!-- Container div-->
      <div class="container">
        <header>
          <div class="banner">
            <a href="{{site.url}}/index.html"><h1>AloinN</h1></a>
            <nav>
              <ul>
              <li class="banner-heading"><p>myself<p></li>
              <a href="about.html"><li class="banner-link"><p>about</p></li></a>
              <a href="contact.html"><li class="banner-link"><p>contact</p></li></a>
              <a href="blog.html"><li class="banner-link"><p>blog</p></li></a>
              <li class="banner-heading"><p>collection<p></li>
              <a href="beats.html"><li class="banner-link"><p>beats</p></li></a>
              <a href="games.html"><li class="banner-link"><p>games</p></li></a>

              </ul>
            </nav>
          </header>
          <main>
            <div class="main-container">
            {{ page.content }}
            </div>
          </main>
        </div>
      <!-- Container div END-->
      </div>

    <footer>
      <p>&copy Alain Lam 2019</p>
    </footer>
  </body>
  <!-- END main part -->
</html>
