<!DOCTYPE html>
<html>
  <head>
    <title>Alain L. N.</title>
    <link rel="shortcut icon" href="/addiconlater.ico"> <!-- Add icon here -->
    <link rel="stylesheet" href="/css/theme.css">
    <link href="https://fonts.googleapis.com/css?family=Kumar+One|Share+Tech+Mono" rel="stylesheet">
  </head>
  <!-- BEGIN main part -->
  <body>
      <!-- Container div-->
      <div class="container">
        <header>
          <div class="banner">
            <h1>Alain N.</h1>
            <nav>
              <ul>
              <li class="banner-heading"><p>myself<p></li>
              <a href="#"><li class="banner-link"><p>about</p></li></a>
              <a href="#"><li class="banner-link"><p>contact</p></li></a>
              <a href="#"><li class="banner-link"><p>blog</p></li></a>
              <li class="banner-heading"><p>collection<p></li>
              <a href="#"><li class="banner-link"><p>Beats</p></li></a>
              <a href="#"><li class="banner-link"><p>Games</p></li></a>

              </ul>
            </nav>
          </header>
          <main>
            <p>Content</p>
          </main>
        </div>
      <!-- Container div END-->
      </div>

    <footer>
      <p>&copy Alain Lam 2018</p>
    </footer>
  </body>
  <!-- END main part -->
</html>
